$textColor: rgb(255, 255, 255);
$colorPrincipal: rgb(20, 20, 20);
$colorSecundario1: rgb(255, 0, 0);
$colorSecundario2: rgb(0, 255, 255);
$fuente: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
$tamagnoFuente: 24px;
$transitionDuration: .3s;

@mixin btnAnimation () {
    transition: $transitionDuration;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.App{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: $colorPrincipal;
    min-width:max-content;
}

.HeaderContainer{
    background-color: $colorPrincipal;
    position: absolute;
    box-sizing: border-box;
    padding: 0 10%;
    height: 56px;
    width: 100%;
    min-width:max-content;
    .LogoContainer{
        display: inline-block;
        box-sizing: border-box;
        width: 10%;
        height: 100%;
        min-width:max-content;
        .logo{
            height: 95%;
            padding-top: 2.5%;
            box-sizing: border-box;
        }
    }
    /*Options*/
    .OptionsContainer{
        width: 50%;
        height: 100%;
        padding: 12px 0;
        box-sizing: border-box;
        font-size: $tamagnoFuente;
        float: right;
        min-width:max-content;
    }
    .OptionsContainer .NavLink{
        display:inline-block;
        width: 20%;
        text-align: center;
        text-decoration: none;
        color: $textColor;
        font-family: $fuente;
        transition: color $transitionDuration;
        min-width:max-content;
    }
    .NavLink-Active{
        display:inline-block;
        width: 20%;
        text-align: center;
        text-decoration: none;
        font-family: $fuente;
        transition: color $transitionDuration;
        min-width:max-content;
        color: $colorSecundario2;
        text-shadow: 0 0 1rem $colorSecundario2;
    }
    .NavLink:hover{
        transition: color $transitionDuration;
        min-width:max-content;
        color:$colorSecundario2;
        text-shadow: 0 0 1rem $colorSecundario2;
    }
    .NavLink:not(:hover){
        color:$textColor;
        transition: color $transitionDuration;
        min-width:max-content;
        text-shadow: 0 0 .2rem $textColor;
    }
}


@mixin content(){
    width: 100%;
    height: 100%;
    color: $textColor;
    font-size: $tamagnoFuente;
    font-family: $fuente;
    box-sizing: border-box;
    padding-top: 6vh;
    user-select: none
}
.Todo{
    @include content();
    text-align: center;
    font-size: $tamagnoFuente *2;
    font-weight: 700;
    padding: 20%;
}
.About{
    @include content();
    .Content{
        box-sizing: border-box;
        width: 60vw;
        height: 100%;
        float: left;
        padding: 6% 4% 4% 12%;
        .StartWorking:not(:hover){
            @include btnAnimation();
            width: 12vw;
            height: 6vh;
            display: inline-block;
            text-align: center;
            border-radius: 12px;
            text-decoration: none;
            font-family: $fuente;
            font-size: $tamagnoFuente;
            color: $colorSecundario2;
            padding: .8vh 0vw;
            box-sizing: border-box;
            border: 2px solid $colorSecundario2;
            margin-left: .4vw;
            font-weight: 500;
            background-color: transparent;
            box-shadow: 0 0 .4rem $colorSecundario2;
        }
        .WhoIsMe:not(:hover){
            @include btnAnimation();
            width: 24vw;
            height: 6vh;
            display: inline-block;
            text-align: center;
            border-radius: 12px;
            text-decoration: none;
            font-family: $fuente;
            font-size: $tamagnoFuente;
            color: $colorSecundario2;
            padding: .8vh 0vw;
            box-sizing: border-box;
            border: 2px solid $colorSecundario2;
            margin-right: .4vw;
            font-weight: 500;
            box-shadow: 0 0 .4rem $colorSecundario2;
        }
        .StartWorking:hover{
            @include btnAnimation();
            background-color: $colorSecundario2;
            width: 12vw;
            height: 6vh;
            display: inline-block;
            text-align: center;
            border-radius: 12px;
            text-decoration: none;
            font-family: $fuente;
            font-size: $tamagnoFuente;
            color: $colorPrincipal;
            padding: .8vh 0vw;
            box-sizing: border-box;
            border: 2px solid $colorSecundario2;
            margin-left: .4vw;
            font-weight: 700;
            box-shadow: 0 0 .8rem $colorSecundario2;
        }
        .WhoIsMe:hover{
            @include btnAnimation();
            background-color: $colorSecundario2;
            width: 24vw;
            height: 6vh;
            display: inline-block;
            text-align: center;
            border-radius: 12px;
            text-decoration: none;
            font-family: $fuente;
            font-size: $tamagnoFuente;
            color: $colorPrincipal;
            padding: .8vh 0vw;
            box-sizing: border-box;
            border: 2px solid $colorSecundario2;
            margin-right: .4vw;
            font-weight: 700;
            box-shadow: 0 0 .8rem $colorSecundario2;
        }
        .title{
            margin: 4vh 0;
            padding: 0;
            font-size: $tamagnoFuente * 2;
        }
        .BigDesc{
            margin: 4vh 0;
            padding: 0;
            a{
                text-decoration: none;
                color: $colorSecundario2;
            }
        }
    }
    .Img{
        box-sizing: border-box;
        width: 40vw;
        height: 100%;
        float: left;
        padding: 6% 12% 6% 6%;
    }
}
.Skills{
    @include content();
}
.Work{
    @include content();
}
.Contact{
    @include content();
}
.Blog{
    @include content();
}
.Home{
    @include content();
    .Description{
        box-sizing: border-box;
        width: 50vw;
        height: 100%;
        float: left;
        padding: 12% 4% 16% 12%;
        .StartWorking:not(:hover){
            @include btnAnimation();
            width: 12vw;
            height: 6vh;
            display: inline-block;
            text-align: center;
            border-radius: 12px;
            text-decoration: none;
            font-family: $fuente;
            font-size: $tamagnoFuente;
            color: $colorSecundario2;
            padding: .8vh 0vw;
            box-sizing: border-box;
            border: 2px solid $colorSecundario2;
            margin-left: .4vw;
            font-weight: 500;
            background-color: transparent;
            box-shadow: 0 0 .4rem $colorSecundario2;
        }
        .WhoIsMe:not(:hover){
            @include btnAnimation();
            width: 20vw;
            height: 6vh;
            display: inline-block;
            text-align: center;
            border-radius: 12px;
            text-decoration: none;
            font-family: $fuente;
            font-size: $tamagnoFuente;
            color: $colorSecundario2;
            padding: .8vh 0vw;
            box-sizing: border-box;
            border: 2px solid $colorSecundario2;
            margin-right: .4vw;
            font-weight: 500;
            box-shadow: 0 0 .4rem $colorSecundario2;
        }
        .StartWorking:hover{
            @include btnAnimation();
            background-color: $colorSecundario2;
            width: 12vw;
            height: 6vh;
            display: inline-block;
            text-align: center;
            border-radius: 12px;
            text-decoration: none;
            font-family: $fuente;
            font-size: $tamagnoFuente;
            color: $colorPrincipal;
            padding: .8vh 0vw;
            box-sizing: border-box;
            border: 2px solid $colorSecundario2;
            margin-left: .4vw;
            font-weight: 700;
            box-shadow: 0 0 .8rem $colorSecundario2;
        }
        .WhoIsMe:hover{
            @include btnAnimation();
            background-color: $colorSecundario2;
            width: 20vw;
            height: 6vh;
            display: inline-block;
            text-align: center;
            border-radius: 12px;
            text-decoration: none;
            font-family: $fuente;
            font-size: $tamagnoFuente;
            color: $colorPrincipal;
            padding: .8vh 0vw;
            box-sizing: border-box;
            border: 2px solid $colorSecundario2;
            margin-right: .4vw;
            font-weight: 700;
            box-shadow: 0 0 .8rem $colorSecundario2;
        }
        .ShortDesc{
            margin-bottom: 4vh;
            padding: 0;
        }
        .BigDesc{
            margin: 4vh 0;
            padding: 0;
            font-size: $tamagnoFuente * 2;
        }
    }
    .Imgs{
        box-sizing: border-box;
        width: 50vw;
        height: 100%;
        float: left;
        padding: 8% 8% 16% 4%;
        img{
            width: 36vw;
            height: auto;
        }
    }
    
}