body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(20, 20, 20);
  min-width: max-content;
}

.HeaderContainer {
  background-color: rgb(20, 20, 20);
  position: absolute;
  box-sizing: border-box;
  padding: 0 10%;
  height: 56px;
  width: 100%;
  min-width: max-content;
  /*Options*/
}
.HeaderContainer .LogoContainer {
  display: inline-block;
  box-sizing: border-box;
  width: 10%;
  height: 100%;
  min-width: max-content;
}
.HeaderContainer .LogoContainer .logo {
  height: 95%;
  padding-top: 2.5%;
  box-sizing: border-box;
}
.HeaderContainer .OptionsContainer {
  width: 50%;
  height: 100%;
  padding: 12px 0;
  box-sizing: border-box;
  font-size: 24px;
  float: right;
  min-width: max-content;
}
.HeaderContainer .OptionsContainer .NavLink {
  display: inline-block;
  width: 20%;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: color 0.3s;
  min-width: max-content;
}
.HeaderContainer .NavLink-Active {
  display: inline-block;
  width: 20%;
  text-align: center;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: color 0.3s;
  min-width: max-content;
  color: rgb(0, 255, 255);
  text-shadow: 0 0 1rem rgb(0, 255, 255);
}
.HeaderContainer .NavLink:hover {
  transition: color 0.3s;
  min-width: max-content;
  color: rgb(0, 255, 255);
  text-shadow: 0 0 1rem rgb(0, 255, 255);
}
.HeaderContainer .NavLink:not(:hover) {
  color: rgb(255, 255, 255);
  transition: color 0.3s;
  min-width: max-content;
  text-shadow: 0 0 0.2rem rgb(255, 255, 255);
}

.Todo {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding-top: 6vh;
  user-select: none;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding: 20%;
}

.About {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding-top: 6vh;
  user-select: none;
}
.About .Content {
  box-sizing: border-box;
  width: 60vw;
  height: 100%;
  float: left;
  padding: 6% 4% 4% 12%;
}
.About .Content .StartWorking:not(:hover) {
  transition: 0.3s;
  width: 12vw;
  height: 6vh;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: rgb(0, 255, 255);
  padding: 0.8vh 0vw;
  box-sizing: border-box;
  border: 2px solid rgb(0, 255, 255);
  margin-left: 0.4vw;
  font-weight: 500;
  background-color: transparent;
  box-shadow: 0 0 0.4rem rgb(0, 255, 255);
}
.About .Content .WhoIsMe:not(:hover) {
  transition: 0.3s;
  width: 24vw;
  height: 6vh;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: rgb(0, 255, 255);
  padding: 0.8vh 0vw;
  box-sizing: border-box;
  border: 2px solid rgb(0, 255, 255);
  margin-right: 0.4vw;
  font-weight: 500;
  box-shadow: 0 0 0.4rem rgb(0, 255, 255);
}
.About .Content .StartWorking:hover {
  transition: 0.3s;
  background-color: rgb(0, 255, 255);
  width: 12vw;
  height: 6vh;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: rgb(20, 20, 20);
  padding: 0.8vh 0vw;
  box-sizing: border-box;
  border: 2px solid rgb(0, 255, 255);
  margin-left: 0.4vw;
  font-weight: 700;
  box-shadow: 0 0 0.8rem rgb(0, 255, 255);
}
.About .Content .WhoIsMe:hover {
  transition: 0.3s;
  background-color: rgb(0, 255, 255);
  width: 24vw;
  height: 6vh;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: rgb(20, 20, 20);
  padding: 0.8vh 0vw;
  box-sizing: border-box;
  border: 2px solid rgb(0, 255, 255);
  margin-right: 0.4vw;
  font-weight: 700;
  box-shadow: 0 0 0.8rem rgb(0, 255, 255);
}
.About .Content .title {
  margin: 4vh 0;
  padding: 0;
  font-size: 48px;
}
.About .Content .BigDesc {
  margin: 4vh 0;
  padding: 0;
}
.About .Content .BigDesc a {
  text-decoration: none;
  color: rgb(0, 255, 255);
}
.About .Img {
  box-sizing: border-box;
  width: 40vw;
  height: 100%;
  float: left;
  padding: 6% 12% 6% 6%;
}

.Skills {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding-top: 6vh;
  user-select: none;
}

.Work {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding-top: 6vh;
  user-select: none;
}

.Contact {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding-top: 6vh;
  user-select: none;
}

.Blog {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding-top: 6vh;
  user-select: none;
}

.Home {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding-top: 6vh;
  user-select: none;
}
.Home .Description {
  box-sizing: border-box;
  width: 50vw;
  height: 100%;
  float: left;
  padding: 12% 4% 16% 12%;
}
.Home .Description .StartWorking:not(:hover) {
  transition: 0.3s;
  width: 12vw;
  height: 6vh;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: rgb(0, 255, 255);
  padding: 0.8vh 0vw;
  box-sizing: border-box;
  border: 2px solid rgb(0, 255, 255);
  margin-left: 0.4vw;
  font-weight: 500;
  background-color: transparent;
  box-shadow: 0 0 0.4rem rgb(0, 255, 255);
}
.Home .Description .WhoIsMe:not(:hover) {
  transition: 0.3s;
  width: 20vw;
  height: 6vh;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: rgb(0, 255, 255);
  padding: 0.8vh 0vw;
  box-sizing: border-box;
  border: 2px solid rgb(0, 255, 255);
  margin-right: 0.4vw;
  font-weight: 500;
  box-shadow: 0 0 0.4rem rgb(0, 255, 255);
}
.Home .Description .StartWorking:hover {
  transition: 0.3s;
  background-color: rgb(0, 255, 255);
  width: 12vw;
  height: 6vh;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: rgb(20, 20, 20);
  padding: 0.8vh 0vw;
  box-sizing: border-box;
  border: 2px solid rgb(0, 255, 255);
  margin-left: 0.4vw;
  font-weight: 700;
  box-shadow: 0 0 0.8rem rgb(0, 255, 255);
}
.Home .Description .WhoIsMe:hover {
  transition: 0.3s;
  background-color: rgb(0, 255, 255);
  width: 20vw;
  height: 6vh;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: rgb(20, 20, 20);
  padding: 0.8vh 0vw;
  box-sizing: border-box;
  border: 2px solid rgb(0, 255, 255);
  margin-right: 0.4vw;
  font-weight: 700;
  box-shadow: 0 0 0.8rem rgb(0, 255, 255);
}
.Home .Description .ShortDesc {
  margin-bottom: 4vh;
  padding: 0;
}
.Home .Description .BigDesc {
  margin: 4vh 0;
  padding: 0;
  font-size: 48px;
}
.Home .Imgs {
  box-sizing: border-box;
  width: 50vw;
  height: 100%;
  float: left;
  padding: 8% 8% 16% 4%;
}
.Home .Imgs img {
  width: 36vw;
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
